[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"
"flake8" = "*"

[packages]
requests = "*"
tweepy = "*"
python-dotenv = "*"
"bs4" = "*"
selenium = "*"
schedule = "*"
flask = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
